body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}
/* Bootstrap overrides */
body, 
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}  
  
.navbar-brand {
    font-weight: 700;
}
.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px; 
    padding: 5px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}
.form-control:focus {
    border-color: #2196F3;  ;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}

.btn {
    padding: 6px 20px;
    font-size: 17px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}